@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

#bodyV{
    background-image: url("../img/fondV.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#bodyM{
    background-image: url("../img/fondM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#bodyI{
    background-image: url("../img/fondI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#bodyEN{
    background-image: url("../img/fondEN.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#bodyE{
    background-image: url("../img/fondE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#bodyD  {
    background-image: url("../img/fondD.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}









a{
    text-decoration: none;
}
.navbar{
	/*top:0;*/
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #1d1d1d;
    width: 100%;
}
.logo, .navbar ul li a{
    color:#fff ;
}
.navbar ul{
    display: flex;
    align-items: center;

list-style-type:  none;
}

.navbar ul li a {
    padding: 12px;
    margin: 0 6px;
}

.navbar ul li a:hover{
    color: rgb(243, 13, 52);
    background-color: yellow;
    border-radius: 4px;


}

div{
    width: 100%;
    margin: 20px auto;
    border: solid 2px blue;
    background-color: #fff;
    border-radius: 10px;
    width: 800px;
    padding: 10px;
    
}
h1{
    color:rgb(243, 13, 52);
    text-align: center;
}
