@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

#bodyV{
    background-image: url("../img/fondV.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#bodyM{
    background-image: url("../img/fondM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#bodyI{
    background-image: url("../img/fondI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#bodyEN{
    background-image: url("../img/fondEN.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#bodyE{
    background-image: url("../img/fondE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#bodyD  {
    background-image: url("../img/fondD.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}









a{
    text-decoration: none;
}
.navbar{
	/*top:0;*/
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #1d1d1d;
    /*position: fixed;*/
    width: 100%;
}
.logo, .navbar ul li a{
    color:#fff ;
}
.navbar ul{
    display: flex;
    align-items: center;

list-style-type:  none;
}

.navbar ul li a {
    padding: 12px;
    margin: 0 6px;
}

.navbar ul li a:hover{
    color: rgb(243, 13, 52);
    background-color: yellow;
    border-radius: 4px;


}

div{
    width: 100%;
    margin: 20px auto;
    border: solid 2px blue;
    background-color: #fff;
    border-radius: 10px;
    width: 800px;
    padding: 10px;
    
}
h1{
    color:rgb(243, 13, 52);
    text-align: center;
}

/*/////////////////////*/

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

.fa_solid{
    font-size: 25px;
    color:#fff;
}