@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  padding: 0px;
  margin: 0px;
  font-family: system-ui;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(190, 176, 176);
  position: relative;
}

/*Navbar header*/
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #1d1d1d;
}
.navbar a{
  text-decoration: none;
}
.logo, .navbar ul li a{
  color:#fff ;
}
.navbar ul{
  display: flex;
  align-items: center;
  list-style-type:  none;
}

.navbar ul li a {
  padding: 12px;
  margin: 0 6px;
  text-decoration: none;
}

.navbar ul li a:hover{
  color: rgb(243, 13, 52);
  background-color: yellow;
  border-radius: 4px;
}
/*Block de connexion*/
main {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100%;
}
.body {
  width: 500px;
  padding: 40px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
}
.container {
  text-transform: uppercase;
}
.container > label {
  letter-spacing: 3px;
  font-size: 1rem;
}

.test {
  width: 100%;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  text-indent: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.boutonC {
  border-style: none;
  border-radius: 5px;
  background-color: #df482e;
  padding: 8px 20px;
  text-transform: uppercase;
  letter-spacing: .8px;
  display: block;
  margin: auto;
  margin-top: 10px;
  box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
  cursor: pointer;
}

.boutonC:hover {
  background: linear-gradient(45deg,rgb(47, 255, 109), rgb(236, 233, 51),red);
}
.body .container .center2 {
  color: red;
}

/*________________________________________________________________________________________________________________*/

.containerM{
  margin-left: 15%;
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
    background-color: dodgerblue;
}

.headerM h1{
  color: white;
  padding: 15px;
}

.bodyM{
  overflow-x: hidden;
  overflow-y: scroll;
  flex:1;
  color: white;
  background-color: rgba(0,0,0,0.7);
  padding: 20px 30px;
}

.messageM{
  background-color: dodgerblue;
  padding: 10px;
  color: white;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 15px;
}
.user_messageM{
  margin-left: auto;
  background-color: white;
  color: black;
}
.footerM .mesH{
  display: flex;
}
.mesM .inputM{
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 5px;
  font-size: 16px ;
}

.mesM button{
  width: 100px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: dodgerblue;
  color: black;
  cursor: pointer;
}

.mesh button:hover{
  background-color: rgb(194, 14, 201);
  transition: 0.2s ease ;
}
/*****************Les catégorie*********/

.containerC{
  max-width: 2000px;
  overflow: hidden;
  padding: 100px 0;
}
.containerC .main-card{
  display: flex;
  transition:2s;
  width: 200%;
}

.containerC .main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .cardH,.main-card .cards .cardB{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .cardH:hover,.main-card .cards .cardB:hover{
  transform: translateY(-20px)
}
.cards .cardH .content,.cards .cardB .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .cardH .content .img, .cards .cardB .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #FF676D;
  margin-bottom: 14px;
}
.cardH .content .img img, .cardB .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
}
.cardH .content .job a, .cardB .content .job a{
  font-size: 20px;
  color: #FF676D;
  text-decoration: none;
}
.cardB{
  margin-top: 25px;
}
#cardBG{
  margin-right: 20px;
}
#cardHG{
  margin-right: 20px;
}



.footer-content-right {
  background-color: rgb(124, 15, 15);
  padding-right:40px;
  margin-top:20px;
  float:right;
}

.icon-style {
  height:40px;
  margin-left:20px;
  margin-top:5px;
}

.icon-style:hover {
  background-color:yellow;
  padding:5px;
}

/******Recherche****/
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 20%;
  border: 3px solid #00109e;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #192fb1;
  background: #2124cf;
  text-align: center;
  color: #eeeeee;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}